* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-btwn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-around {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #ff0033;
}

.flex-s {
  display: flex;
  align-items: flex-start;
}

.flex-start {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.flex-end {
  display: flex;
  align-items: center;
  /* align-items: flex-end; */
  justify-content: flex-end;
}


.col-flex {
  display: flex;
  flex-direction: column;
}

.hidden {
  display: none;
}

.non-visible {
  visibility: hidden;
}

body {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  color: #2e3b52;
  /* Line height 16.94px */
  line-height: 23px;
}

.input-div {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.6) 0%,
    rgba(255, 255, 255, 0.276) 100%
  );
  border-radius: 5px;
  padding: 0 7px;
  width: 200px;
  height: 20px;
}

.error-border {
  border: 1.5px solid #ff0033;
}

.valid-border {
  border: 1.5px solid #1ae5be;
}

.input {
  flex: 1;
}

.errors {
  color: #ff0033;
  font-size: 0.5rem;
  padding-left: 8px;
  margin-top: -4px;
  margin-bottom: 6px;
  font-weight: bold;
}

.textarea {
  flex-grow: 1;
  padding-top: 8px;
  padding-bottom: 8px;
}

textarea {
  height: 100%;
  scrollbar-width: none;
  resize: none;
}

.textarea-imgs {
  margin-top: -4px;
}

.stretch {
  align-self: stretch;
}

.error-icon,
.valid-icon {
  margin-right: 7px;
}

.small-icons {
  width: 15px;
}

.medium-icons {
  width: 25px;
  cursor: pointer;
}
.big-icons {
  width: 40px;
  cursor: pointer;
}

.options-error {
  flex: 1;
}

input,
textarea,
.options-error,
button,
#rows-per-page {
  outline: none;
  background-color: transparent;
  border: none;
}

.left-form,
.right-form,
.btn {
  margin: 10px;
}

.btn {
  border-radius: 3px;
  padding: 3px 6px;
}

.clear-btn,
.cancel-form {
  cursor: pointer;
}

.form {
  position: fixed;
  overflow: auto;
  scrollbar-width: none;
  top: 10%;
  left: 15%;
  width: 70%;
  height: 80%;
  background-color: #0634c938;
  padding-top: 50px;
  padding-bottom: 25px;
  box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.342);
  z-index: 200;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #7556cd;
}

.close-form {
  position: absolute;
  top: 15px;
  right: 20px;
  font-size: 20px;
  font-weight: bolder;
  cursor: pointer;
}

.close-form:hover {
  transform: scale(1.5);
}

.progress-bar {
  position: absolute;
  top: 17px;
  border-radius: 15px;
  width: 350px;
  height: 20px;
  color: #000000;
  font-size: 15px;
  border: 1px solid #0635c9;
  overflow: hidden;
}

.progress-color {
  background-color: #fa8072;
  position: absolute;
  width: 1%;
  height: 100%;
  left: 0%;
  z-index: -1;
  transition: width 1.5s;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  z-index: 100;
}

main {
  max-width: 1400px;
  margin: auto;
  border: 3px solid #000000;
  padding: 40px;
}

.search-bar {
  width: 190px;
  border-radius: 10px;
  padding: 2px 8px;
  border: 1px solid black;
  height: 30px;
}
.search-input-field {
  flex: 1;
  margin-right: 8px;
  padding-left: 10px;
}

.add-user-modal {
  background-color: #1ae5be;
  padding: 15px;
  font-size: 20px;
  margin: 10px 0;
  border: 1px solid #0635c9;
  border-radius: 15px;
  color: #0635c9;
  width: 100%;
}

.add-user-modal-p {
  margin-top: 6px;
}

.add-user-modal-value {
  margin-right: 7px;
  margin-left: 20px;
  font-weight: 700;
  font-style: italic;
}

table {
  border-collapse: collapse;
  width: 100%;
}

.center-text-align {
  text-align: center;
}

.left-text-align {
  text-align: left;
}

.right-text-align {
  text-align: right;
}

td {
  padding: 10px 20px;
}

th {
  padding: 10px 20px;
  color: #606f89;
}

tr {
  height: 50px;
  /* position: relative; */
  /* line-height: 17px; */
}

thead {
  background-color: #F4F7FC;
}

.p-status,
.p-name {
  cursor: default;
}

.sort {
  margin-left: 15px;
  /* flex: 1; */
}

.table-name-and-id-number {
  width: 18%;
}

.table-balance-and-currency {
  width: 11%;
}

.table-deposit-and-currency {
  width: 11%;
}

.table-rate-and-currency {
  width: 11%;
}

.table-status {
  width: 11%;
}

.table-more {
  width: 8%;
  padding-top: 15px;
}

.table-check-user {
  width: 4%;
}

tbody tr:nth-child(2n + 2) {
  background: #F4F7FC;
}

tbody tr:hover {
  /* background-color: #F4F7FC;; */
  /* background-color: #F4F7FC; */
  box-shadow: 0px 0px 6px rgba(40, 67, 115, 0.6);
}

.empty-td {
  padding: 100px;
  font-size: 44px;
  font-weight: bold;
  background-color: #1ae5be;
}
.check-user-td {
  position: relative;
  /* background-color: aqua; */
}
.check-before::before {
  content: '';
  height: 100%;
  width: 5px;
  background-color: #0A65FF;
  /* border-radius: 8px 0 0 8px; */
  position: absolute;
  left: 0;
  top: 0;
}

.full-name {
  font-weight: 600;
}

.description {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.currency,
.id-number {
  color: #606f89;
  line-height: 15px;
}

.active-btn,
.inactive-btn,
.paid-btn,
.ordered-btn,
.open-btn {
  padding: 3px 10px;
  border-radius: 20px;
  font-weight: 500;
}

.active-btn {
  background-color: #0A65FF;
  color: #ffffff;
}

.inactive-btn {
  color: #707070;
  border: 1.5px solid #707070;
}
.paid-btn,
.ordered-btn {
  color: #ffffff;
  background-color: #008400;
}
.open-btn {
  color: #ba5300;
  border: 1.5px solid #ba5300;
}

.edit-icon {
  /* margin: 0 10px; */
}

tfoot {
  background-color: #9c10101e;
  color: #606F89;
  font-weight: 600 ;
  /* margin-top: 100px; */
  /* padding-top: 50px; */
}


.rows-per-page {
  text-align: end;
  /* text-decoration: underline; */
  font-weight: 600;
}

#rows-per-page {
  background-color: #ff0033;
}

.starting-index,
.ending-index {
  background-color: #ff0033;
}
