* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-btwn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-s {
  display: flex;
  align-items: flex-start;
}

.flex-start {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.flex-end {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.col-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.star-col-flex {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.center-text-align {
  text-align: center;
}

.left-text-align {
  text-align: left;
}

.right-text-align {
  text-align: right;
}

.hidden {
  display: none;
}

.non-visible {
  visibility: hidden;
}

.micro-icons {
  width: 12px;
}

.small-icons {
  width: 15px;
}

.medium-icons {
  width: 25px;
  cursor: pointer;
}

.big-icons {
  width: 40px;
  cursor: pointer;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  color: #2e3b52;
  line-height: 23px;
}

.input-div {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.6) 0%,
    rgba(255, 255, 255, 0.276) 100%
  );
  border-radius: 8px;
  padding: 0 7px;
  width: 400px;
  height: 45px;
}

.error-border {
  border: 2px solid #ff0033;
}

.valid-border {
  border: 2px solid #1ae5be;
}

.green-border {
  border: 7px solid #1ae5be;
}

.input {
  flex: 1;
}

.errors {
  color: #ff0033;
  font-size: 10px;
  padding-left: 10px;
  margin-top: -3px;
  margin-bottom: 10px;
  font-weight: bold;
}

.textarea {
  flex-grow: 1;
  padding-top: 8px;
  padding-bottom: 8px;
}

textarea {
  height: 100%;
  scrollbar-width: none;
  resize: none;
}

.textarea-imgs {
  margin-top: -1px;
}

.stretch {
  align-self: stretch;
}

.error-icon,
.valid-icon {
  margin-right: 7px;
}

.options-error {
  flex: 1;
}

input,
textarea,
.options-error,
button,
#rows-per-page {
  outline: none;
  background-color: transparent;
  border: none;
  font-size: 18px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
}

input::placeholder,
textarea::placeholder {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  color: #2e3b52;
  font-size: 16px;
}

.left-form,
.right-form {
  margin: 30px 15px 0;
}

.btn {
  margin: 12px 25px;
  font-weight: 600;
  cursor: pointer;
  border: 2px solid #0635c9;
  padding: 6px 20px;
  border-radius: 10px;
  color: #0635c9;
}

.form-btns {
  margin-top: 25px;
}

.btn:hover {
  background-color: #1ae5be;
  border: 2px solid #1ae5be;
}

.form-container {
  width: 100vw;
  height: 100vh;
  background-color: #0634c938;
}

.form {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
}

.progress-bar {
  position: sticky;
  top: 0px;
  border-radius: 25px;
  width: 650px;
  height: 40px;
  color: #000000;
  font-size: 15px;
  border: 2px solid #0635c9;
  overflow: hidden;
  background-color: #ffffff;
  font-size: 18px;
}

.progress-color {
  background-color: #fa8072;
  position: absolute;
  width: 1%;
  height: 100%;
  left: 0%;
  z-index: -1;
  transition: width 1.5s;
}

main {
  padding-top: 20px;
  padding-bottom: 55px;
  height: 100vh;
}

.dashboard {
  position: relative;
  max-width: 1400px;
  margin: auto;
  border: 3px solid #000000;
  padding: 40px;
}

.empty-row {
  width: 100%;
  height: 100%;
  font-size: 50px;
  font-weight: bolder;
}

.add-user-icons {
  left: 20px;
}

.print-user-icons {
  left: 220px;
}

.delete-user-icons {
  left: 120px;
}

.fixed-icons {
  background-color: #ffffff;
  box-shadow: 3px 3px 16px rgb(0, 0, 0), -3px -3px 36px rgb(0, 0, 0);
  position: fixed;
  bottom: 20px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  z-index: 100;
  cursor: pointer;
}

.fixed-icons:hover {
  box-shadow: 3px 3px 16px rgb(6, 53, 201), -3px -3px 36px rgb(26, 229, 190);
}

.filter-search {
  height: 40px;
}

.filter-icon {
  margin-right: 20px;
  position: relative;
}

.filter-board {
  position: absolute;
  width: 250px;
  background-color: rgb(255, 255, 255);
  padding: 0 10px 10px;
  z-index: 99;
  font-weight: 600;
  font-size: 18px;
  line-height: 35px;
  border-radius: 20px 20px 0 0;
  box-shadow: -10px 10px 10px rgba(40, 67, 115, 0.6),
    10px 10px 10px rgba(40, 67, 115, 0.6);
}

.sort-by {
  margin: 10px auto;
  border-bottom: 1px solid #c79e9e;
  text-transform: capitalize;
}

.hov-sort {
  flex: 1;
}

.filter-div {
  padding: 0 15px;
  width: 100%;
}

.filter-div:hover,
.filter-btn:hover {
  background-color: #f4f7fc;
  border-radius: 7px;
  box-shadow: 0px 0px 6px rgba(40, 67, 115, 0.6);
}

.filter-btns {
  margin-top: 10px;
  width: 100%;
}

.filter-btn {
  padding: 5px 15px;
  font-weight: 600;
  font-size: 18px;
  line-height: 35px;
}

.search-bar {
  width: 320px;
  border-radius: 10px;
  padding: 2px 8px;
  border: 1px solid black;
  height: 90%;
  margin: auto 0;
}

.search-input-field {
  flex: 1;
  margin-right: 8px;
  padding-left: 10px;
  width: 100%;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  color: #2e3b52;
  line-height: 23px;
}

.add-user-modal,
.error-modal {
  position: fixed;
  padding: 25px 50px;
  font-size: 20px;
  border-radius: 15px;
  right: 20px;
  bottom: 20px;
  z-index: 100;
}

.add-user-modal {
  background-color: #1ae5be;
  border: 1px solid #0635c9;
  color: #0635c9;
  box-shadow: 3px -3px 16px rgb(6, 53, 201), -3px 3px 16px rgb(6, 53, 201);
}

.error-modal {
  background-color: #facbd5;
  border: 1px solid #ff0033;
  color: #ff0033;
  box-shadow: 3px -3px 16px rgb(255, 0, 51), -3px 3px 16px rgb(255, 0, 51);
}

.add-user-modal-p,
.error-modal-p {
  margin-top: 6px;
}

.add-user-modal-value,
.error-modal-value {
  margin-right: 7px;
  margin-left: 20px;
  font-weight: 700;
  font-style: italic;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 50px;
}

td {
  padding: 10px 20px;
}

th {
  padding: 10px 20px;
  color: #606f89;
}

tr {
  height: 66px;
}

thead {
  background-color: #f4f7fc;
}

.p-status,
.p-name {
  cursor: default;
}

.sort {
  margin-left: 15px;
}

.table-name-and-id-number {
  width: 16%;
}

.table-balance-and-currency {
  width: 11%;
}

.table-deposit-and-currency {
  width: 11%;
}

.table-rate-and-currency {
  width: 11%;
}

.table-status {
  width: 11%;
}

.table-more {
  width: 10%;
  padding-top: 15px;
}

.table-check-user {
  width: 4%;
}

tbody tr:nth-child(2n + 2) {
  background-color: #f4f7fc;
}

tbody tr:hover {
  box-shadow: 0px 0px 6px rgba(40, 67, 115, 0.6);
}

.check-user-td {
  position: relative;
}

.check-before::before {
  content: '';
  height: 100%;
  width: 5px;
  background-color: #0a65ff;
  position: absolute;
  left: 0;
  top: 0;
}

.full-name {
  font-weight: 600;
  text-transform: capitalize;
}

.description {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-break: break-word;
}

.currency,
.id-number {
  color: #606f89;
  line-height: 15px;
}

.positive {
  color: #008400;
}

.negative {
  color: #e01a1a;
}

.active-btn,
.inactive-btn,
.paid-btn,
.ordered-btn,
.open-btn {
  padding: 7px;
  border-radius: 20px;
  font-weight: 500;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.08em;
}

.active-btn {
  background-color: #0a65ff;
  color: #ffffff;
}

.inactive-btn {
  color: #707070;
  border: 2px solid #707070;
  font-weight: 600;
}

.paid-btn,
.ordered-btn {
  color: #ffffff;
  background-color: #008400;
}

.open-btn {
  color: #ba5300;
  border: 2px solid #ba5300;
  font-weight: 600;
}

tfoot {
  color: #606f89;
  font-weight: 600;
}

.rows-per-page {
  text-align: end;
}

.rows-per-page-select {
  position: relative;
}

#rows-per-page {
  font-weight: 600;
  appearance: none;
  margin-left: 5px;
  width: 45px;
  font-size: 14px;
  color: #606f89;
}

.rows-per-page-icon {
  position: absolute;
  right: 5px;
  bottom: 3.2px;
  pointer-events: none;
}

.arrows {
  width: 55px;
  margin-left: auto;
}
