* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-btwn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-around {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.flex-start {
  display: flex;
  align-items: flex-start;
}

.col-flex {
  display: flex;
  flex-direction: column;
}

.hidden {
  display: none;
}

.non-visible {
  visibility: hidden;
}

.input-div {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.6) 0%,
    rgba(255, 255, 255, 0.276) 100%
  );
  border-radius: 5px;
  padding: 0 7px;
  width: 200px;
  height: 20px;
}

.error-border {
  border: 1.5px solid #ff0033;
}

.valid-border {
  border: 1.5px solid #1ae5be;
}

.input {
  flex: 1;
}

.errors {
  color: #ff0033;
  font-size: 0.5rem;
  padding-left: 8px;
  margin-top: -4px;
  margin-bottom: 6px;
  font-weight: bold;
}

.textarea {
  flex-grow: 1;
  padding-top: 8px;
  padding-bottom: 8px;
}

textarea {
  height: 100%;
  scrollbar-width: none;
  resize: none;
}

.textarea-imgs {
  margin-top: -4px;
}

.stretch {
  align-self: stretch;
}

.error-icon,
.valid-icon {
  margin-right: 7px;
}

.small-icons {
  width: 15px;
}

.medium-icons {
  width: 25px;
  cursor: pointer;
}
.big-icons {
  width: 40px;
  cursor: pointer;
}

.options-error {
  flex: 1;
}

input,
textarea,
.options-error,
button {
  outline: none;
  background-color: transparent;
  border: none;
}

.left-form,
.right-form,
.btn {
  margin: 10px;
}

.btn {
  border-radius: 3px;
  padding: 3px 6px;
}

.clear-btn,
.cancel-form {
  cursor: pointer;
}

.form {
  position: fixed;
  overflow: auto;
  scrollbar-width: none;
  top: 10%;
  left: 15%;
  width: 70%;
  height: 80%;
  background-color: #0634c938;
  padding-top: 50px;
  padding-bottom: 25px;
  box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.342);
  z-index: 200;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #7556cd;
}

.close-form {
  position: absolute;
  top: 15px;
  right: 20px;
  font-size: 20px;
  font-weight: bolder;
  cursor: pointer;
}

.close-form:hover {
  transform: scale(1.5);
}

progress {
  position: absolute;
  top: 15px;
  width: 60%;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  z-index: 100;
}

main {
  max-width: 1400px;
  margin: auto;
  border: 3px solid #000000;
  padding: 40px;
}

.search-bar {
  width: 190px;
  border-radius: 10px;
  padding: 2px 8px;
  border: 1px solid black;
  height: 30px;
}
.search-input-field {
  flex: 1;
  margin-right: 8px;
}

.search-icon,
.black-search-user-icon,
.color-search-user-icon {
  /* background-color: cornflowerblue; */
  /* border-radius: 10px; */
}

table {
  border-collapse: collapse;
  width: 100%;
}

.center-text-align {
  text-align: center;
}

.left-text-align {
  text-align: left;
}

td,
th {
  padding: 10px 20px;
}

tr {
  height: 50px;
}

thead {
  background-color: #0634c91e;
}

.p-status,
.p-name {
  cursor: default;
}

.sort {
  margin-left: 15px;
  flex: 1;
}

.table-name-and-id-number {
  width: 20%;
}

.table-description {
  /* width: 25%; */
}

.table-balance-and-currency {
  width: 13%;
}

.table-deposit-and-currency {
  width: 13%;
}

.table-rate-and-currency {
  width: 10%;
}

.table-status {
  width: 10%;
}

.table-more {
  width: 7%;
  padding-top: 15px;
}

.table-check-user {
  width: 4%;
}

tbody {
  /* background-color: rgb(173, 177, 184); */
}

tbody tr:nth-child(2n + 1) {
  background: #02020209;
}
tbody tr:hover {
  background-color: #0634c91e;
}

.empty-row {
  padding: 100px;
  font-size: 44px;
  font-weight: bold;
}

.description {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.active-btn,
.inactive-btn {
  padding: 3px 10px;
  border-radius: 20px;
}

.active-btn {
  background-color: #0635c9;
  color: #ffffff;
}

.inactive-btn {
  color: #707070;
  border: 1px solid #707070;
}

tfoot {
  background-color: #0634c91e;
}

.rows-per-page {
  text-align: end;
  text-decoration: underline;
}
