.input-div {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.6) 0%,
    rgba(255, 255, 255, 0.276) 100%
  );
  border-radius: 8px;
  padding: 0 7px;
  width: 400px;
  height: 45px;
}

.error-border {
  border: 2px solid #ff0033;
}

.valid-border {
  border: 2px solid #1ae5be;
}


.input {
  flex: 1;
}

.errors {
  color: #ff0033;
  font-size: 10px;
  padding-left: 10px;
  margin-top: -3px;
  margin-bottom: 10px;
  font-weight: bold;
}

.textarea {
  flex-grow: 1;
  padding-top: 8px;
  padding-bottom: 8px;
}

textarea {
  height: 100%;
  scrollbar-width: none;
  resize: none;
}

.textarea-imgs {
  margin-top: -1px;
}

.stretch {
  align-self: stretch;
}

.error-icon,
.valid-icon {
  margin-right: 7px;
}

.options-error {
  flex: 1;
}

input,
textarea,
.options-error,
button {
  outline: none;
  background-color: transparent;
  border: none;
  font-size: 18px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
}

input::placeholder,
textarea::placeholder {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  color: #2e3b52;
  font-size: 16px;
}

.left-form,
.right-form {
  margin: 30px 15px 0;
}

.btn {
  margin: 12px 25px;
  font-weight: 600;
  cursor: pointer;
  border: 2px solid #0635c9;
  padding: 6px 20px;
  border-radius: 10px;
  color: #0635c9;
}

.form-btns {
  margin-top: 25px;
}

.btn:hover {
  background-color: #1ae5be;
  border: 2px solid #1ae5be;
}

.form-container {
  width: 100vw;
  height: 100vh;
  background-color: #0634c938;
}

.form {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
}

.progress-bar {
  position: sticky;
  top: 0px;
  border-radius: 25px;
  width: 650px;
  height: 40px;
  color: #000000;
  font-size: 15px;
  border: 2px solid #0635c9;
  overflow: hidden;
  background-color: #ffffff;
  font-size: 18px;
}

.progress-color {
  background-color: #fa8072;
  position: absolute;
  width: 1%;
  height: 100%;
  left: 0%;
  z-index: -1;
  transition: width 1.5s;
}
